<style type="text/css">
.root{
display: flex;
justify-content: center;
align-items: center;
background-color: #95a5a6;
height: 100%;
}
.subdiv{
 width: 400px;
 height: auto;
 margin-top: 20px;
 background-color: white;
 padding: 25px;
 border-radius: 10px;
 border: 1px solid black;
}
.gap{
    margin-bottom: 20px;
}
</style>




<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src='/javascripts/productproject.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </head>

   
<form action="/product/addnewproduct" method="Post" enctype="multipart/form-data" >
<div class="root">
    
    <div class="subdiv">
         <div class="row">
            <h5>Product Management</h5>
             </div>
       
      <div class="form-row gap">
          <div class="col">
        <select  class="form-control" id='producttype'  name="producttype" >
            <option>-Select Product Type-</option> 
            </select>
           </div>
           </div>

     <div class="form-row gap">
        <div class="col">
        <select  class="form-control" id='productlist' name="productlist" >
            <option>-Product List-</option> 
            </select>
        </div>
        </div>

        <div class="form-row gap">
            <div class="col">
            <select  class="form-control" id='productname' name="productname" >
                <option>-Product Name-</option> 
                </select>
            </div>
            </div>


      <div class="form-row gap">
        <select  class="form-control" id="productrate" name="productrate" >
            <option>-Product Rate-</option> 
            </select>
      </div>

  

   <div class="form-row gap">
    <select  class="form-control" id="productstock" name="productstock" >
        <option>-Product Stock-</option> 
        </select>
    </div>

   <div class="form-row gap">
    <input type="file" class="form-control" placeholder="Picture" name='picture'>
   </div>

   
       
   <div class="form-row gap">
    <div class="col" style="display: flex; justify-content: center; align-items: center;">
        <button type="submit" class="btn btn-primary" style="width: 150px;">Save</button>
    </div>
    <div class="col" style="display: flex; justify-content: center; align-items: center;">
        <button type="reset" class="btn btn-success" style="width: 150px;" >Reset</button>
    </div>
</div>
   
        <div class="form-row gap">
       <b><%=msg %></b>
      </div>  

</div>
</div>
</form>
</html>